.pokemonStat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--grey);
    border-radius: 25px;
    padding: 2vw;
    color: black;
    margin: 5% 0;
    border: 2px solid var(--grey-mid);
}