@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pokedex-color: #b42424;
  --dark-red: #d90429;
  --red: #ef233c;
  --grey: #edf2f4;
  --grey-mid: #8d99ae;
  --grey-dark: #333442;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

body {
  color: var(--foreground);
  background: var(--pokedex-color);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

textarea {
  color: black;
  width: 50%;
  border-radius: 5px;
  padding: 2vw;
  margin: 1vw;
  min-width: 300px;
  min-height: 1rem;
  resize: none;
}

.screen {
  background-color: var(--pokedex-color);
  height: 120vh;
  width: 100%;
  position: absolute;
  top: -10%;
  border-radius: 60px;
  z-index: 0;
  transition: all 0.5s ease;
}

.screenTop {
  background-color: var(--grey);
  height: 50vh;
  width: 100%;
  position: absolute;
  top: -10%;
  border-radius: 60px;
  z-index: -1;
}

.backdrop {
  background-color: var(--grey-dark);
  z-index: -1;
  top: -10%;
  height: 60vh;
  width: 101%;
  position: absolute;
  transition-delay: 2s;
  transition: all 0.5s ease;
}

.backdropDrop {
  background-color: var(--grey-dark);
  z-index: -1;
  top: 20%;
  -webkit-transform: skewY(15deg);
  -moz-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  -o-transform: skewY(15deg);
  transform: skewY(15deg);
}

.pokeballDesign{
  background-color: var(--grey);
  z-index: -1;
  height: 30vh;
  width: 30vh;
  position: absolute;
  border-radius: 100%;
}

.topPokeballDesign {
  background-color: var(--grey);
  z-index: -1;
  height: 20vh;
  width: 20vh;
  position: relative;
  border-radius: 100%;
  box-shadow: -1px 0px 7px var(--grey-mid);
  margin: auto auto;
}

.pokeball {
  z-index: 1;
  top: 35vh;
  height: 30vh;
  width: 30vh;
  position: absolute;
  margin-left: -100%;
  display: flex;
  transition: all 0.5s ease;
}

.pokeball:hover {
  transform: scale(1.1);
}

.pokeballClicked {
  z-index: -1;
  top: 60%;
  height: 30vh;
  width: 30vh;
  position: absolute;
  margin-left: -100%;
  display: flex;
}

.pokedexContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5vh;
  pointer-events: all;
}

.pokedexName {
  font-weight: bold;
  color: black;
  font-size: clamp(20px, 3vw, 30px);
  margin-bottom: 2vw;
  z-index: 3;
}

.pokedexSubtitle {
  color: black;
  font-size: clamp(20px, 3vw, 30px);
  z-index: 3;
  animation: blink 2s linear infinite;
}

.searchBtn {
  background-color: var(--grey-mid);
  color: black;
  padding: 1vw 2vw;
  border-radius: 5px;
  margin: 1vw;
  width: 50%;
}

.loading {
  height: 60vh;
  margin: auto auto;
  align-items: center;
  color: black;
  font-weight: bold;
  display: flex;
  -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.errorMsg {
  color: black;
  font-weight: bold;
}