@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pokedex-color: #b42424;
  --dark-red: #d90429;
  --red: #ef233c;
  --grey: #edf2f4;
  --grey-mid: #8d99ae;
  --grey-dark: #333442;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--pokedex-color);
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  color: black;
  width: 50%;
  border-radius: 5px;
  padding: 1vw;
  margin: 1vw;
}

.backdrop {
  background-color: var(--grey-dark);
  z-index: -1;
  margin-top: -20vh;
  height: 50vh;
  width: 100%;
  position: absolute;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}

.pokeballDesign {
  background-color: var(--grey);
  z-index: -1;
  height: 30vh;
  width: 30vh;
  position: absolute;
  border-radius: 100%;
}

.topPokeballDesign {
  background-color: var(--grey);
  z-index: -1;
  height: 20vh;
  width: 20vh;
  position: relative;
  border-radius: 100%;
  box-shadow: -1px 0px 7px var(--grey-mid);
  margin: auto auto;
}

.pokeball {
  z-index: -1;
  margin-top: 20%;
  height: 30vh;
  width: 30vh;
  position: absolute;
  margin-left: -100%;
  display: flex;
}

.pokedexContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5vh;
}

.pokedexName {
  font-weight: bold;
  font-size: clamp(20px, 3vw, 30px);
}

.searchBtn {
  background-color: var(--grey-mid);
  color: black;
  padding: 1vw 2vw;
  border-radius: 5px;
  margin: 1vw;
  width: 50%;
}
